---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
const readTime = remarkPluginFrontmatter.readingTime.text
---

<BlogPost time={readTime} {...post.data} >
	<div class="content flex flex-col gap-2 text-xl font-light w-[320px] md:w-[700px]">
		<Content />
	</div>
</BlogPost>

<style>
.content :global(a) {
  text-decoration-line: underline;
	text-underline-offset: 2px;
	text-decoration-color: #d41b1bf3;
}
.content :global(pre) {
	font-size: 14px;
	padding: 20px;
}
</style>
