---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<div class="content flex flex-col gap-2">
		<Content />
	</div>
</BlogPost>


<style>
.content :global(a) {
  text-decoration-line: underline;
	text-underline-offset: 2px;
	text-decoration-color: #d41b1bf3;
}
</style>
