---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<!-- <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head> -->
	<body class="bg-[#f9f5f2] min-h-full flex justify-center mt-12">
		<main>
			<h1>Yuri</h1>
			<h2>Software engineer</h2>
		</main>
	</body>
</html>
