<div>
	<ul class="flex gap-3">
		<li class="cursor-pointer">
			<a href="https://github.com/YuriSamp" target="_blank">Github</a>
		</li>
		<div>|</div>
		<li class="cursor-pointer">
			<a href="https://x.com/Yuri_Sampa">Twitter</a>
		</li>
		<div>|</div>
		<li class="cursor-pointer">
			<a href="https://www.linkedin.com/in/yurisamp/">Linkedin</a>
		</li>
		<div>|</div>
		<li class="cursor-pointer">
			<a href="https://github.com/YuriSamp/Kitsune">Code</a>
		</li>
		<div>|</div>
		<li class="cursor-pointer">
			<a href="/rss.xml">RSS Feed</a>
		</li>
  </ul>
</div>
