---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'] & {time : string};

const { title, description, time } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="bg-primary min-h-screen flex flex-col items-center justify-between px-3 py-12">
		<main class="flex justify-center">
			<article class="pb-12">
				<div class="flex flex-col gap-4 pb-8">
					<a class="cursor-pointer font-semibold hover:text-neutral-600" href="/">
						Go back
					</a>
					<div class="flex flex-col sm:flex-row gap-3 items-baseline">
						<h1 class="text-4xl">{title}</h1>
						<span class="font-light font-mono">{time}</span>
					</div>
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	@font-face {
  font-family: 'Satoshi';
  src: url('/Satoshi-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
</style>
